<h1>Sales Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
<<<<<<< HEAD
      <th colspan="3">Actions</th>
=======
      <th colspan="3"></th>
>>>>>>> 05603b4ca63b841c4e728c711a8377ff9b546762
    </tr>
  </thead>

  <tbody>
    <% @sales_items.each do |sales_item| %>
      <tr>
        <td><%= sales_item.name %></td>
<<<<<<< HEAD
        <td><%= sales_item.category.name %></td>
        <td><%= number_to_currency(sales_item.price) %></td>
=======
        <td><%= sales_item.category_id %></td>
        <td><%= sales_item.price %></td>
>>>>>>> 05603b4ca63b841c4e728c711a8377ff9b546762
        <td><%= link_to 'Show', sales_item %></td>
        <td><%= link_to 'Edit', edit_sales_item_path(sales_item) %></td>
        <td><%= link_to 'Destroy', sales_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales item', new_sales_item_path %>
