// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD
table {
  border: 1px solid #000000;
  border-bottom-left-radius: 0;
  border-collapse: collapse;
  box-shadow: 10px 10px 5px #888888;
  margin: 0;
  padding: 0;
  width: 50%;
}

td, th{
  border: 1px solid black;
}

body {
  color: #333;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
}
=======
>>>>>>> 05603b4ca63b841c4e728c711a8377ff9b546762
