// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.centered {
  text-align: center;
}
h1.fancy {
  color: darkgreen;
  text-decoration: underline;
}
div#welcome {
  border: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  width: 40%;
}

a:hover {
  background-color: #000;
  color: #fff;
}

p#description {
  color: green;
  font-size: 14pt;
  text-align: center;
}

.bold-blue {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}