<!DOCTYPE html>
<html>
<head>
  <title>JavscriptIntro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <h1>Inventory Manager</h1>
<<<<<<< HEAD
  <a href="/">Dashboard</a>
  <a href="/sales_items">Sales Items</a>
  <a href="/categories">Categories</a>
=======
  <%= link_to "Sales Items",sales_items_path %>
  <%= link_to "Categories", categories_path %>
>>>>>>> 05603b4ca63b841c4e728c711a8377ff9b546762
</div>
<%= yield %>

</body>
</html>
